// Free Lato Google font instead of Proxima Nova font.
$font-family-bold: 'latobold', sans-serif;
$font-family-bold-italic: 'latobold_italic', sans-serif;
$font-family-regular: 'latoregular', sans-serif;
$font-family-regular-italic: 'latoitalic', sans-serif;
$font-family-light: 'latolight', sans-serif;
$font-family-light-italic: 'latolight_italic', sans-serif;

$bg-primary: #171722;
$bg-secondary: #212129;
$bg-local: #353542;
$bg-tooltip: #30303d;
$bg-filter-value: #2b711b;

$color-body: #ffffff;
$color-passive: #959595;
$color-item: #84d52c;
$color-accent: #81d12b;
$color-element: #7acb22;
$color-border: #526f3a;